html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
@media only screen and (min-width: 1196px) {
  #bear {
    // For instance, we may want to specify that a navigation bar should extend across the width of our page, but only on screens larger than 800px
    left: 800px;
  }
}
